/* header en basic*/ 

*{
	padding: 0;
	margin: 0;
}

body{
	width: 960px;
	margin: 0 auto;
	background-color: #cb793a;
}

header img{
	max-width:50px;
	display: flex;
	margin: 0 auto;
}

a{
	font-size: 20px;
	color: #fcdc4d;
	text-decoration: none;
}

nav{
	display: flex;
	justify-content: space-around;
}	

/*aanbiedingen*/
.shop{
	margin-top: 70px;
}

.shop h2{
	text-align: center;
	color: white;
	text-decoration: bold;
	margin-bottom: 20px;
	text-shadow: black 1px 1px 10px;
}


.sale{
	display: inline-grid;
  	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 100px;
  	grid-row-gap: 40px;
}

.sale-item{
	background-color: white;
	box-shadow: 10px 10px 50px;
	transition-timing-function: ease;
	transition-duration: 1s;
	height: 200px;
	width: 250px;
}

.sale-item a{
	text-decoration: none;
	color: rgba(250, 250, 250 ,0);
	transition-timing-function: ease;
	transition-duration: 1s;
}

.sale-item a:hover{
	color: black;
}

.sale-item img{
	height: 200px;
	width: 250px;
}

.sale-item:hover{
	height: 250px;
	width: 250px;
}
 .sale-item p{
 	text-align: center;
 }

 /* hardware/*
 
