/* header en basic*/ 

*{
	padding: 0;
	margin: 0;
}

body{
	width: 960px;
	margin: 0 auto;
	background-color: #cb793a;
}

header img{
	max-width:50px;
	display: flex;
	margin: 0 auto;
}

a{
	font-size: 20px;
	color: #fcdc4d;
	text-decoration: none;
}

nav{
	display: flex;
	justify-content: space-around;
}	

/*aanbiedingen*/
.shop{
	margin-top: 70px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.five {
}
  grid-column: 2/6;
  grid-row: 3/6;
  border-color: #FCDC4D;
  border-width: 5px;
  border-style: solid;
}
.five img{
	max-width: 627px
.shop h2{
	text-align: center;
	color: white;
	text-decoration: bold;
	margin-bottom: 20px;
	text-shadow: black 1px 1px 10px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9A031E;
   color: white;
   text-align: center;
}
 
}
text-align: center;
 .sale-item p{
}
	width: 250px;

.sale{
	display: inline-grid;
  	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 100px;
  	grid-row-gap: 40px;
}

.sale-item{
	background-color: white;
	box-shadow: 10px 10px 50px;
	transition-timing-function: ease;
	transition-duration: 1s;
	height: 200px;
	width: 250px;
}

.sale-item a{
	text-decoration: none;
	color: rgba(250, 250, 250 ,0);
	transition-timing-function: ease;
	transition-duration: 1s;
}

.sale-item a:hover{
	color: black;
}

.sale-item img{
	height: 200px;
	width: 250px;
}

.sale-item:hover{
	height: 250px;